body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    width: 100vw;
  }
.cv-card{
  width: 330px;
  margin: auto;
  margin-top: 20px;
}
.math{
  overflow: auto;
}
.cv-body{
  text-align: center;
  padding: 0;
  overflow: auto;
}

@media only screen and (min-width: 1600px){
  div.card-container-columns{
    width: 1050px;
    column-count: 3;
  }
  div.card-container:nth-child(3n+3){
    order:3;
  }
  div.card-container:nth-child(3n+2){
    order:2;
  }
  div.card-container:nth-last-child(1){
    break-after: column;
  }
  div.card-container:nth-last-child(2){
    break-after: column;
  }

  div.card-container:nth-last-child(3){
    break-after: column;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  div.card-container-columns{
    width: 700px;
    column-count: 2;
  }
  div.card-container:nth-child(2n+2){
    order:2;
  }
  div.card-container:nth-last-child(2){
    break-after: column;
  }

  div.card-container:nth-last-child(1){
    break-after: column;
  }
}
div.card-container-columns{
  margin: auto;
}

div.card-container-columns>div{
  display: flex;
  flex-direction: column;
}
div.card-container{
  display: inline-block;
  padding: 0;
  margin: 0;
}
pre{
  background-color: rgb(238, 238, 238);
}
pre *{
  background-color: unset;
}